// variables
$bug: #a8b820;
$dark: #705848;
$dragon: #7038f8;
$electric: #f8d030;
$fairy: #ee99ac;
$fighting: #c03028;
$fire: #f08030;
$flying: #a890f0;
$ghost: #705898;
$grass: #78c850;
$ground: #e0c068;
$ice: #98d8d8;
$normal: #a8a878;
$poison: #a040a0;
$psychic: #f85888;
$rock: #b8a038;
$steel: #b8b8d0;
$water: #6890f0;

// animations
@keyframes fade-to-right {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

//transition
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease-in-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// mixins
@mixin for-desktop {
  @media (min-width: 700px) { @content; }
}